fastapi
uvicorn
jinja2
sqlalchemy
pydantic
python-multipart
pyinstaller
tzdata

ultralytics>=8.0.0
torch>=2.0.0
torchvision>=0.15.0
numpy>=1.24.0
opencv-python>=4.8.0
Pillow>=10.0.0
pandas>=2.0.0
matplotlib>=3.7.0
tqdm>=4.65.0
pyyaml>=6.0
sahi>=0.11.0
onnxruntime>=1.15.0


tensorflow>=2.10.0
scikit-learn>=1.1.0
joblib>=1.2.0